body {
    background-color: crimson;
}

.class-for-chicken {
    text-align: center;
    font-size: 36px;
}

.text-for-chicken {
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-for-chicken {
    font-size: 36px;
}



.class-for-pork {
    text-align: center;
    font-size: 36px;
}

.text-for-pork {
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-for-pork {
    font-size: 36px;
}